<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/reset.css">
    <link rel="stylesheet" href="com-alert.css">
    <script src="../lib/jquery.js"></script>
    <script src="com-alert.js"></script>
    <style>
        .main{
            width:600px;
            margin:0 auto;
            padding-top:100px;
            border: 1px solid transparent;
        }
    </style>
</head>
<body>

<div class="main clearfix">

    <div id="mao">
        mao
    </div>


</div>
<script>

    $.alert('这是确定吗',function(){

        alert('haha')
    })

</script>
</body>
</html>