@charset "utf-8";

@cf:#fff;@cf2:#f2f2f2;@ceb:#ebebeb;
@cdb:#dbdbdb;@cc:#ccc;@c3:#333;
@c6:#666;@c9:#999;@c10:#101010;
@a:#49A0DB;
@ba:#49A0DB;

.container{
  top:100px;
  background-color: @cf2;
}

  .nav-tit{
    position: fixed;
    top:50px;
    height:40px;
    width:100%;
    z-index: 10;
    text-align: center;
    //border-bottom:1px solid @ceb;
    box-shadow:0 1px 1px .5px @ceb;
    background-color:@cf;
    .nav-item{
      font-size:16px;
      width:85%;
      margin:0 auto;
      .item-list{
        width:50px;
        height:40px;
        .list-tit{
          margin-top: 12px;
        }
        .list-line{
          margin:0 auto;
          margin-top: 5px;
          height:3px;
          width:40px;
        }
      }
    }
  }


  //文章列表
  .article-item{
    //border-bottom: 1px solid #ebebeb;
    box-shadow: 0 1px 1px 0px @cdb;
    padding-bottom:1rem;
    margin-bottom: .5rem;
    background-color: @cf;
    //第一个文章上边距0
    &:first-child{
      margin-top:0;
    }

    //背景图
    .list-bg{
      position: relative;
      display: block;
      height:16rem;
      background:url("../../img/0.jpg");
      background-position: center center;
      background-size: cover;
      overflow: hidden;
      //内部标题
      .list-tit{
        height:3.5rem;
        width:100%;
        position: absolute;
        top:100%;
        margin-top: -3.5rem;
        //background:rgba(35,35,35,0.5);
      }
    }
  }







