@charset "utf-8";

@cf:#fff;@cf2:#f2f2f2;@ceb:#ebebeb;
@cdb:#dbdbdb;@cc:#ccc;@c3:#333;
@c6:#666;@c9:#999;@c10:#101010;

body{
  background-color: @cf2;
}
header{
  img{width:100%}
}
.container{
  background-color: @cf;

  //资料信息模块
  #sign{
    ul{margin-top: -1.5rem;
      .head-img{
        width:76px;
        border-radius:38px;
        box-shadow:0px 0px 0px 3px @cf;
      }
    }
  }

  //计数模块
  #count{
    li{
      text-align: center;
      flex-grow: 1;
    }
  }

  //更多
  .li-p-r{
    div{
      display: inline-block;
      width:4px;
      height:4px;
      border-radius:2px;
      background-color:@cc;
    }
  }

  //图片模块列
  #img-list li{
    width:23%;
    height:5rem;
    overflow:hidden;
    border: 1px solid red;
    background-size:cover;
    background-position:top center;
  }

  //首页说说内容文字
  #main-say-content{
    #content{
      margin-left:50px;
    }
  }

  //首页文章
  #main-article{
    .art{
      img{width:100%;}
      //多文本
      .text{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        line-height:1.8rem;
      }
      //查看按钮
      .checked{
        height:2.5rem;
        width:8rem;
        background-color: #49A0DB;
        border-radius: 1.2rem;
        line-height: 2.5rem;
      }
      //列表列排
      .more{
        left:100%;
        margin-left:-5px;
        height:18px;
      }
    }

  }




}