@charset "utf-8";

@cf:#fff;@cf2:#f2f2f2;@ceb:#ebebeb;
@cdb:#dbdbdb;@cc:#ccc;@c3:#333;
@c6:#666;@c9:#999;@c10:#101010;
@a:#49A0DB;
@ba:#49A0DB;

body{
  background-color: @cf2;
}
#banner{
  img{width:100%}
}
.container{ 
  background-color: @cf;

  //留言点赞
  #mes{
    ul{
      height:3rem;
      .message{
        height:100%;
        width:18rem;
        padding:0 .7rem;
        border:1px solid @cdb;
        img{height:55%;}
        border-radius:1.5rem;
      }
      .like{
        height:3rem;
        width:3rem;
        border-radius: 1.5rem;
        background-color:@ba;
      }
    }
  }

  //资料信息模块
  #sign{
    ul{
      margin-top: -1.5rem;
      .head-img{
        width:6.6rem;
        border-radius:3.3rem;
        box-shadow:0px 0px 0px 3px @cf;
      }
      .sign-top{
        position: relative;
        top: -0.2rem;
        margin-left: 1rem;
      }
    }
  }

  //计数模块
  #count{
    li{flex-grow: 1;}
  }

  //更多
  .li-p-r{
    div{
      display: inline-block;
      width:4px;
      height:4px;
      border-radius:2px;
      background-color:@cc;
    }
  }

  //图片模块列
  #img-list li{
    width:23%;
    height:5rem;
    overflow:hidden;
    border: 1px solid red;
    background-size:cover;
    background-position:top center;
  }

  //首页说说内容文字
  #main-say-content{
    #content{
      width:90%;
      margin:0 auto;
      margin-top:0.3rem;
      p{margin-left:4rem;}
    }
  }

  //首页文章
  #main-article{
    .art{
      margin:1rem 0;
      img{width:100%;}
      //查看按钮
      .checked{
        height:2.5rem;
        width:8rem;
        border-radius: 0.6rem;
        line-height: 2.5rem;

        margin:0 auto;
        margin-top:1.5rem;
        background-color: @ba;
        color:@cf;
        text-align: center;
      }
      //列表列排
      .more{
        position: absolute;
        left:100%;
        margin-left:-5px;
        height:18px;
        margin-top:.5rem;
      }
    }

  }




}