@charset "utf-8";
/*==============*/
.D22B5F {
  color: #D22B5F;
}
.com-art-toggle {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
#art-main {
  padding-top: 50px;
  overflow: auto;
  background-color: #fff;
}
#art-main #art-item #content {
  margin-top: 1.5rem;
  letter-spacing: 1px;
  color: #333;
}
#art-main #art-item #content p {
  margin-top: 1rem;
}
#art-main #art-item #content img {
  max-width: 100%;
  display: block;
  margin: 1rem auto;
}