@charset "utf-8";
.container {
  top: 100px;
}
nav {
  position: fixed;
  top: 50px;
  height: 40px;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}
nav .nav-item {
  font-size: 16px;
  width: 85%;
  margin: 0 auto;
}
nav .nav-item .item-list {
  width: 50px;
  height: 40px;
}
nav .nav-item .item-list .list-tit {
  margin-top: 12px;
}
nav .nav-item .item-list .list-line {
  margin: 0 auto;
  margin-top: 5px;
  height: 3px;
  width: 40px;
}
.article-item {
  margin-top: .8rem;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: .8rem;
}
.article-item:first-child {
  margin-top: 0;
}
.article-item .list-bg {
  margin-bottom: .7rem;
  display: block;
  height: 15rem;
  background: url("../../img/0.jpg");
  background-position: top center;
  background-size: cover;
  overflow: hidden;
}
