@charset "utf-8";
nav {
  position: fixed;
  top: 50px;
  height: 40px;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}
nav ul.sel {
  font-size: 16px;
  width: 85%;
  margin: 0 auto;
}
nav ul.sel li {
  width: 50px;
  height: 40px;
}
nav ul.sel li p {
  margin-top: 12px;
}
nav ul.sel li div {
  margin: 0 auto;
  margin-top: 5px;
  height: 3px;
  width: 40px;
}
.container {
  top: 100px;
}
.container .list {
  margin-top: 1rem;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: .5rem;
}
.container .list:first-child {
  margin-top: 0;
}
.container .list li {
  margin-bottom: .5rem;
  padding: 0 1rem;
}
.container .list li p {
  width: 70%;
  font-size: 1.3rem;
}
.container .list .li-bg {
  margin-bottom: .5rem;
  height: 15rem;
  background: url("../../img/0.jpg");
  background-position: top center;
  background-size: cover;
  overflow: hidden;
}
