@charset "utf-8";
.container {
  top: 100px;
  background-color: #f2f2f2;
}
.nav-tit {
  position: fixed;
  top: 50px;
  height: 40px;
  width: 100%;
  z-index: 10;
  text-align: center;
  box-shadow: 0 1px 1px 0.5px #ebebeb;
  background-color: #fff;
}
.nav-tit .nav-item {
  font-size: 16px;
  width: 85%;
  margin: 0 auto;
}
.nav-tit .nav-item .item-list {
  width: 50px;
  height: 40px;
}
.nav-tit .nav-item .item-list .list-tit {
  margin-top: 12px;
}
.nav-tit .nav-item .item-list .list-line {
  margin: 0 auto;
  margin-top: 5px;
  height: 3px;
  width: 40px;
}
.article-item {
  padding-bottom: 1.5rem;
  margin-top: .6rem;
  background-color: #fff;
}
.article-item:first-child {
  margin-top: 0;
}
.article-item .list-bg {
  position: relative;
  display: block;
  height: 15rem;
  background: url("../../img/0.jpg");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
.article-item .list-bg .list-tit {
  height: 3.5rem;
  width: 100%;
  position: absolute;
  top: 100%;
  margin-top: -3.5rem;
}
