@charset "utf-8";
body {
  background-color: #f2f2f2;
}
#banner img {
  width: 100%;
}
.container {
  background-color: #fff;
}
.container #mes ul {
  height: 3rem;
}
.container #mes ul .message {
  border: 1px solid #dbdbdb;
  height: 100%;
  width: 18rem;
  border-radius: 1.5rem;
}
.container #mes ul .message img {
  height: 55%;
}
.container #mes ul .like {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  background-color: #49A0DB;
}
.container #sign ul {
  margin-top: -1.5rem;
}
.container #sign ul .head-img {
  width: 6.6rem;
  border-radius: 3.3rem;
  box-shadow: 0px 0px 0px 3px #fff;
}
.container #sign ul .tc {
  top: -0.5rem;
}
.container #count li {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.container .li-p-r div {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #ccc;
}
.container #img-list li {
  width: 23%;
  height: 5rem;
  overflow: hidden;
  border: 1px solid red;
  background-size: cover;
  background-position: top center;
}
.container #main-say-content #content {
  margin-left: 50px;
}
.container #main-article .art img {
  width: 100%;
}
.container #main-article .art .text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.8rem;
}
.container #main-article .art .checked {
  height: 2.5rem;
  width: 8rem;
  background-color: #49A0DB;
  border-radius: 0.6rem;
  line-height: 2.5rem;
}
.container #main-article .art .more {
  left: 100%;
  margin-left: -5px;
  height: 18px;
}
