@charset "utf-8";
.container {
  background-color: #f2f2f2;
}
#mes-input {
  height: 3.5rem;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  line-height: 3.5rem;
  color: #ccc;
  padding: 0 1rem;
}
.item-list {
  position: relative;
  height: 15rem;
  margin-top: 1rem;
  border-bottom: 1px solid #ebebeb;
  padding: 1rem;
  background-color: #fff;
}
.item-list .item-text {
  position: absolute;
  top: 50%;
  width: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
#writing {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}
#writing .writ-context {
  height: 40%;
  background-color: pink;
}
#writing .writ-context ::-webkit-input-placeholder {
  color: #f2f2f2;
}
#writing .writ-context input[name="writ-tit"] {
  height: 3rem;
  width: 100%;
  border: none;
  border-bottom: 1px dashed #ebebeb;
  background-color: transparent;
  text-align: center;
}
