@charset "utf-8";
body {
  background-color: #f2f2f2;
}
.container {
  background-color: #f2f2f2;
  top: 100px;
}
#mes-input {
  position: fixed;
  width: 100%;
  top: 50px;
  height: 45px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  line-height: 45px;
  color: #ccc;
  padding: 0 1rem;
  z-index: 8;
}
.item-list {
  position: relative;
  height: 15rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid #ebebeb;
  padding: 1rem;
  background-color: #fff;
}
.item-list .item-text {
  position: absolute;
  top: 50%;
  width: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
/*==============留言写入模块===================*/
#writing {
  position: fixed;
  z-index: 12;
  top: 0px;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #FCFBF9;
  background-color: #f9f9f9;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
#writing .writ-context {
  height: 20rem;
  background-color: #9B9CB3;
}
#writing .writ-context ::-webkit-input-placeholder {
  color: #f2f2f2;
  font-size: 1rem;
}
#writing .writ-context input[name="writTit"] {
  height: 18%;
  width: 100%;
  border: none;
  border-bottom: 1px dashed #ccc;
  background-color: transparent;
  text-align: center;
  color: #f2f2f2;
}
#writing .writ-context .pr-text {
  position: relative;
  height: 75%;
  padding: 0 2rem;
  overflow: hidden;
  text-align: center;
  letter-spacing: 1px;
}
#writing .writ-context .pr-text .writ-text {
  position: relative;
  text-align: center;
  max-width: 75%;
  padding: 3rem 6rem;
  color: #f2f2f2;
  z-index: 2;
  line-height: 2rem;
}
#writing .writ-context .pr-text .writ-prompt {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f2f2f2;
  z-index: 1;
}
#writing .sel-img {
  width: 85%;
  margin: 0rem auto;
}
#writing .sel-img .list-img {
  position: relative;
  width: 4rem;
  height: 4rem;
}
#writing .sel-img .list-img img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 4rem;
  border-radius: 2rem;
}
#writing .sel-img .list-img .select-img {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 2px solid #fff;
  background-color: #49A0DB;
  z-index: 2;
  margin: -1px 0 0 -1px;
}
#writing .sel-img .list-img .select-img .select-yes {
  width: 8px;
  height: 4px;
  border: 1px solid #fff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotateZ(130deg);
          transform: rotateZ(130deg);
  margin-left: 3px;
  margin-top: 3px;
}
#writing .sub-cancel {
  width: 100%;
  margin-bottom: 1rem;
  height: 3rem;
  background-color: #fff;
  color: #666;
}
/*==============图片剪裁模块===================*/
#clip-img {
  display: none;
  position: fixed;
  z-index: 12;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}
#clip-img .clip-main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  opacity: 0.8;
}
#clip-img .clip-head {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
