@charset "utf-8";
.container .pr-list .movie-list {
  position: relative;
  margin: 0 auto;
  margin-top: .5rem;
  width: 95%;
  height: 15rem;
  border-radius: 0.3rem;
  overflow: hidden;
}
.container .pr-list .movie-list > img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.container .pr-list .movie-list .movie-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: -webkit-linear-gradient(rgba(204, 204, 204, 0.2), rgba(16, 16, 16, 0.8));
  background: linear-gradient(rgba(204, 204, 204, 0.2), rgba(16, 16, 16, 0.8));
  z-index: 2;
}
.container .pr-list .movie-list .movie-mask .summary {
  position: absolute;
  color: #fff;
  top: 72%;
  width: 100%;
}
