@charset "utf-8";
#movie {
  position: relative;
  width: 100%;
  top: 50px;
}
#movie video {
  width: 100%;
}
#movie-main {
  margin-top: 1rem;
}
#movie-main .source-img,
#movie-main .source-span {
  vertical-align: middle;
}
#movie-main .source-span {
  height: 1.1rem;
  opacity: 0.5;
}
footer {
  margin-top: 3rem;
}
