@charset "utf-8";
.container {
  top: 100px;
}
.nav-tit {
  position: fixed;
  top: 50px;
  height: 40px;
  width: 100%;
  z-index: 10;
  text-align: center;
  box-shadow: 0 1px 1px 0.5px #ebebeb;
  background-color: #fff;
}
.nav-tit .nav-item {
  font-size: 16px;
  width: 85%;
  margin: 0 auto;
}
.nav-tit .nav-item .item-list {
  width: 50px;
  height: 40px;
}
.nav-tit .nav-item .item-list .list-tit {
  margin-top: 12px;
}
.nav-tit .nav-item .item-list .list-line {
  margin: 0 auto;
  margin-top: 5px;
  height: 3px;
  width: 40px;
}
.img-list {
  float: left;
  margin-top: 2px;
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  background-image: url("../../img/0.jpg");
}
#channel-latest {
  margin-bottom: 2rem;
}
#channel-latest .date-tit {
  padding: 2rem 0 1rem 0.5rem;
}
#channel-latest .date-tit:first-child {
  padding-top: 0;
}
