@charset "utf-8";
.say {
  padding: 1.2rem 0rem;
  border-top: 1px solid #ebebeb;
  /*.say-main{
      width:28rem;
      margin:0 auto;
    }*/
}
.say .say-tit {
  margin: 0 auto;
}
.say .say-tit > div {
  margin-left: 0.4rem;
}
.say .p-text {
  margin-top: 1.5rem;
}
.say .p-text,
.say .img-item {
  margin-left: 4.35rem;
}
.say .img-item {
  margin-top: 0.9rem;
  width: 23rem;
}
.say .img-item .img-list {
  overflow: hidden;
}
